
/* ---------------------------------------------------------------------------- */
/*
### Color Theme Swatches in Hex
.AMAZE-|-Honey-Co.-1-hex { color: #F2A922; }
.AMAZE-|-Honey-Co.-2-hex { color: #D97904; }
.AMAZE-|-Honey-Co.-3-hex { color: #D9C2A7; }
.AMAZE-|-Honey-Co.-4-hex { color: #BF5B04; }
.AMAZE-|-Honey-Co.-5-hex { color: #732C02; }

### Color Theme Swatches in RGBA
.AMAZE-|-Honey-Co.-1-rgba { color: rgba(242, 169, 33, 1); }
.AMAZE-|-Honey-Co.-2-rgba { color: rgba(216, 121, 4, 1); }
.AMAZE-|-Honey-Co.-3-rgba { color: rgba(216, 194, 166, 1); }
.AMAZE-|-Honey-Co.-4-rgba { color: rgba(191, 91, 3, 1); }
.AMAZE-|-Honey-Co.-5-rgba { color: rgba(114, 43, 2, 1); }

### Color Theme Swatches in HSLA
.AMAZE-|-Honey-Co.-1-hsla { color: hsla(39, 89, 54, 1); }
.AMAZE-|-Honey-Co.-2-hsla { color: hsla(33, 96, 43, 1); }
.AMAZE-|-Honey-Co.-3-hsla { color: hsla(33, 39, 75, 1); }
.AMAZE-|-Honey-Co.-4-hsla { color: hsla(28, 96, 38, 1); }
.AMAZE-|-Honey-Co.-5-hsla { color: hsla(22, 96, 22, 1); }
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url(reset.css); 
/* ---------------------------------------------------------------------------- */
:root{
    --text: #000000;
    --background: #ffffff;
    --primary: #F2A922;
    --secondary: #732C02;
    --accent: #BF5B04;
    --black:#0d0d0d;
    --green: #4C6B22;
    --red: #ff4949;
    --blue: #4E9BCE;

    --fontFamily: 'Open Sans', sans-serif;

    --fontHeaderSize: 2rem;
    --fontSubSize: 1.125rem;
    --fontTextSize: 1rem;
    
    --navBarGap: 10px;
}
/* ---------------------------------------------------------------------------- */

body{
    background-color: #fdfdfd;
    font-family: var(--fontFamily);

}

.navBar{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    border-bottom: 2px solid var(--primary);
}

.navBar__left{
    display: flex;
    align-items: center;
    text-align: center;
    gap: var(--navBarGap);
}
.logo{
    font-family: var(--fontFamily);
    display: flex;
    align-items: center;
    gap: .25rem;
    font-size: var(--fontHeaderSize);
    color: var(--primary);
}

.buttons img{
    width: 2.5rem;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.searchBar{
    /* border: 2px solid var(); */
    align-items: center;
    display: flex;
    padding: .25rem;
}

.searchBar__input{
    padding: .5rem;
    font-size: var(--fontTextSize);
    background: none;
    color: #fdfdfd;
    border: none;
    background: none;
    outline: #732C02;
}

.buttons a{
    text-decoration: none;
    color: var(--primary);
    padding: .5rem 1rem ;
    letter-spacing: 2px;
    font-size: var(--fontTextSize);
    transition-duration: 500ms ;
    transition-delay: 50ms;
    border: 1px solid var(--primary);
    font-size: 10px;

}

.buttons a:hover{
    transition-duration: 500ms ;
    transition-delay: 100ms;
    border: 2px solid var(--black);
    background-color: #F2A922;
    color: var(--black);
}

/*  RESPONSIVE */

@media only screen and (max-width: 800px) {

    .buttons {
    display: none;
    }
    .searchBar{
        display: none;
    }
    .navBar{
        justify-content: center;
    }
    .logo h1{
        display: none;
    }
}

/* ------------------------------------------------------- */
/* CARDS */

.cards{
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: var(--black);
    width: 18rem;
    border: 1px solid var(--primary);
    height: 18rem;
    box-shadow: 3px 3px 10px 0px black;

    font-family: var(--fontFamily);
    font-size: 1rem;
    font-weight: 600;
    color: white;
    
    
}
.card div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: .8rem;
    height: 150px;
}
.card img{
    max-width: 100%;
}

.card div h5{
    font-size: 1.5rem;
    font-weight: 800;
}

.card div span{
    color: var(--green);
}
.card div button{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: var(--primary);
    gap: 1rem;
    padding: .5rem;
    border: 1px  solid var(--black);
    border-radius: 5px;
    transition-delay: 200ms;
    transition-duration: 1s;

}

.card div button:hover{
    transition-delay: 0s;
    transition-duration: 1s;
    border: 1px solid var(--primary);
    border-radius: 10px;
}

.card div button#alert{
    color: var(--blue);
}
.card div button#alert:hover{
    border: 1px solid var(--blue);
}

/* ------------------------------------------------------- */

/*  POP UP */

    #popUpBG{
        z-index:1;
        background-color: black;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 70%;
        position: fixed;

    }

    #popUp{
        font-family: var(--fontFamily);
        z-index: 7;
        background-color: var(--background);
        border: 2px solid var(--primary);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40vw;
        max-height: 50vh;
        overflow-y: scroll;
        gap: 1rem;
        
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    #popUp::-webkit-scrollbar {
        display: none;
    }

    .popUp__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .popUp__top *{
        padding: 1rem;
    }
    .popUp__top h4{
        font-size: var(--fontHeaderSize);
        font-weight: bold;
        text-transform: uppercase;
    }
    .popUp__Check{
        margin: 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .popUp__Check div *{
        line-height: 1rem;
    }

    #check__itensAdded{
        text-align: center;
    }

    .hLine{
        background-color: var(--primary);
        height: 1px;
        width: 80%;
        margin: auto;
        margin-top: 15px;
    }

    .popUp__List{
        display: flex;
        flex-direction: column;
        width: calc(100% - 2rem);
        padding: 1rem;
    }

    .popUp__iten{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        text-align: center;
    }
    
    #popUp__img img{
        max-height: 4rem;
        border-radius: 5px;
        border: 1px solid var(--primary);

    }

    #popUp__resume *{
        line-height: 25px;
        font-weight: 500;
    }
    #totalPrice{
        text-decoration: underline;
    }

    #popUp button{
        background-color: var(--green);
        border: none;
        border-radius: 10px;
        color: white;
        padding: .8rem 1rem;
    }
/* ------------------------------------------------------- */

/* LOGIN FORM */
.formContainer{

    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

#loginForm{
    margin: auto;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 60%;

    border: 3px solid var(--black);
    box-shadow: 3px 3px 0px 1px var(--primary);
}

#loginForm input{
    width: 50%;
    margin: .25rem;
    border: none;
    outline: none;
    padding: .5rem 1rem;
    border-bottom: 2px solid var(--black);
}

.hLineLogin{
    height: 2px;
    background-color: var(--primary);
    width: 90%;
    margin: 1rem;
}

#loginForm h5{
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--primary);
    font-size: var(--fontHeaderSize);
    margin: 1rem;
}


#loginForm button{
    margin: 1rem;
    padding: .8rem 2.5rem;
    outline: none;
    border: none;
    background-color: var(--background);
    color: var(--primary);
    text-transform: uppercase;
    
    
    transition-duration: 800ms;
    transition-delay: 500ms;
}


#loginForm button:hover{
    background-color: var(--primary);
    color: var(--text);


    transition-delay: 200ms;
    animation-duration: 500ms;
}

#loginForm span{
    text-align: center;
    
    font-size: .8rem;
    font-weight: 600;
    font-family: var(--fontFamily);
}
#loginForm span a {
    text-decoration: underline;
    color: var(--text);

}
#loginForm span a:hover {
    text-decoration: none;
    color: var(--primary);

}

/* ------------------------------------------------------- */

/* SIGN IN FORM */
.formContainer{

    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

#signInForm{
    margin: auto;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 80%;

    border: 3px solid var(--black);
    box-shadow: 3px 3px 0px 1px var(--primary);
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


#signInForm input{

    border: none;
    outline: none;
    padding: .5rem 1rem;
    border-bottom: 2px solid var(--black);
}

.hLineSignIn{
    height: 2px;
    background-color: var(--primary);
    width: 90%;
    margin: 1rem;
}

#signInForm h5{
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--primary);
    font-size: var(--fontHeaderSize);
    margin: 1rem;
}


















#signInForm button{
    margin: 1rem;
    padding: .8rem 2.5rem;
    outline: none;
    border: none;
    background-color: var(--background);
    color: var(--primary);
    text-transform: uppercase;
    
    
    transition-duration: 800ms;
    transition-delay: 500ms;
}


#signInForm button:hover{
    background-color: var(--primary);
    color: var(--text);


    transition-delay: 200ms;
    animation-duration: 500ms;
}

#signInForm span{
    text-align: center;
    
    font-size: .8rem;
    font-weight: 600;
    font-family: var(--fontFamily);
}
#signInForm span a {
    text-decoration: underline;
    color: var(--text);

}
#signInForm span a:hover {
    text-decoration: none;
    color: var(--primary);

}

#signInError{
    
    /* background-color: red;
    width: 80%;
    text-align: center;
    padding: .25rem;
    color: white;
    border-radius: 5px; */
    margin: 1rem;
    
}

#signInError > *{
    width: 100%;
    background-color: var(--red);
    color: white;
    border-radius: 10px;
    padding: .25rem 1.5rem;
}